{% extends "bootstrap/base.html" %}
{% from "_macros.html" import render_navigation, render_messages, render_observation_alerts, render_observation_form %}
{% block title %}Observation {{ data.captureID }}{% endblock %}

{% block navbar %}
{{ render_navigation(g.current_user) }}
{% endblock %}

{% block content %}
<div class="container" role="main" style="margin-top:60px;">
  {{ render_messages(messages) }}
  <div class="row">
    <div class="col-md-9">
      <a href="{{ data.url }}" target="_blank"><image class="img-responsive" src="{{ data.url }}" /></a>
    </div>
    <div class="col-md-3">
      <!-- show observations -->
      <table class="table table-striped">
      <tr><td>empty/species</td><td><strong>{{data.mwePREDTOP }}</strong></td><td>{{data.mweCONFTOP }}</td></tr>
      {% if data.mwePREDTOP == 'species' %}
        <tr><td>prediction</td><td><strong>{{data.mwsPREDTOP}}</strong></td><td>{{ data.mwsCONFTOP }}</td></tr>
        <tr><td>count</td><td><strong>{{ data.mwsCOUNT }}</strong></td><td>{{ data.mwsCOUNTCONF }}</td></tr>
      {% endif %}
      </table>
      {% if obs.count() == 0 %}
      <div style="margin-top:30px; text-align:center;">
      <a type="button" class="btn btn-info" style='width:15em;' href="{{ url_for('_observe_agree', captureID=data.captureID) }}">
      Agree</a>
      </div>
      {% endif %}
      {{ render_observation_alerts(obs, talk) }}
      {% if obs.count() == 0 %}
      <div style="margin-top:5px; text-align:center;">
      <a type="button" class="btn btn-warning" style='width:15em;' href="{{url_for('_observe_empty', captureID=data.captureID)}}">Disagree - Empty</a>
      </div>
      {% endif %}
      {{ render_observation_form(species, talkform) }}
      <div style="margin-top:20px; text-align:center;">
      <a type="button" class="btn btn-success" style='width:15em;' href="{{url_for('skip', captureID=data.captureID)}}">Skip/Next</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}